@import '../../../../styles/variables.scss';

.admin-menu{
    background-color: #fff;
    width: 300px;
    &__header{
        border-bottom: 1px solid #dedede;
        padding: 15px 0;
        margin-bottom: 15px;
    }
    &__title{
        font-size: 20px;
        padding-left: 20px;
        display: flex;
        align-items: center;
        color: #616161;
        svg{
            margin-right: 10px;
        }
    }
}

.admin-chapter{
    &__title{
        font-size: 16px;
        padding-left: 20px;
        color: #616161;
    }
    &__btn{
        background-color: transparent;
        color: #616161;
        padding: 10px 20px;
        font-size: 14px;
        cursor: pointer;
        width: 100%;
        display: flex;
        align-items: center;
        border: none;
        transition: color 0.3s ease;
        &.active{
            color: $colorBlue;
            svg{
                fill: $colorBlue;
            }
        }
        &:hover{
            color: $colorBlue;
            svg{
                fill: $colorBlue;
            }
        }
        svg{
            margin-right: 10px;
            fill: $orangeColor;
            transition: fill 0.3s ease;
        }
    }
}