@import '../../../../styles/variables.scss';

.partner-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s ease;
    &.active{
        opacity: 1;
        pointer-events: all;
        visibility: visible;
        .partner-modal__content{
            transform: translateY(0);
        }
    }
    &__content{
        background-color: #fff;
        width: 500px;
        height: 400px;
        padding: 20px 30px;
        border-radius: 15px;
        transform: translateY(-20px);
        transition: transform 0.3s ease;
    }
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid #e6e6e6;
        margin-bottom: 20px;
    }
    &__close{
        background: transparent;
        cursor: pointer;
        padding: 0;
        border: none;
        svg{
            width: 20px;
            height: 20px;
        }
    }
    &__title{
        font-size: 20px;
        font-weight: 500;
    }
    &__main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__label{
        span{
            font-size: 16px;
            margin-bottom: 5px;
            display: block;
            text-align: center;
            font-weight: 500;
        }
        textarea{
            resize: none;
            width: 330px;
            height: 70px;
            outline: none;
            border: 1px solid #e6e6e6;
            background-color: $grayLight;
            padding: 10px;
            color: #141414;
            font-size: 14px;
            transition: border-color 0.3s ease;
            margin-bottom: 20px;
            &:focus{
                border-color: red;
            }
        }
    }
    &__add-image{
        margin-top: 5px;
    }
    &__add{
        margin-top: 10px;
        background-color: $greenColor;
        border: none;
        color: #fff;
        font-size: 15px;
        padding: 8px 15px;
        border-radius: 4px;
        cursor: pointer;
        margin-left: auto;
    }
}