.garant-page{
    padding-top: 50px;
    &__content{
        display: flex;
    }
    &__list{
        width: 885px;
        flex-shrink: 0;
        background-color: #fff;
        padding: 0 36px;
    }
    &__item{
        &:not(:first-child) {
            border-top: 1px solid #e1e2e3;
        }
    }
}