$whiteDark: #f3f3f3;
$blackColor: #0e0e0e;
$grayColor: #e1e2e3;
$grayLight: #f9f8f8;
$orangeColor: #ff793a;
$greenColor: #46b955;
$colorBlue: #0094e9;
$colorYellow: #f3d766;
$colorLink: #616161;
$linearGradientOrange: linear-gradient(90deg,#ff4148 0,#ff793a);